#page-state,
#page-error {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#page-state p,
#page-error p {
    font-size: 18px;
}

#page-container {
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
    display: none;
}

#opportunities li .remove-btn {
    border: 2px solid #6e2287;
    color: #6e2287;
    background-color: rgb(255, 255, 255);
}

#opportunities li .approve-btn {
    margin-right: 10px;
    background: linear-gradient(to right, #6e2287 0%, #ae3096 73%, #c7359b 100%);
    color: #ffffff;
}
