@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Inter:wght@400;600&family=Jost:wght@400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}
